<style>
    body{
background:#fff;
padding:100px all;
position: absolute;
display:flex;
align-items: center;
width:100%;
height:100%;
    }
.whole{
background: LINEAR-GRADIENT(rgb(252, 2, 69), rgb(234, 28, 83), rgb(234, 79, 121));
padding: 20px;
max-width:600px;
display:block;
margin: 30px auto;
border:1px solid #dadde1;
    }
    .city{
        margin:0 auto;
        display:block;
        margin-bottom: 20px;
    }
    .newyear{
        margin:0 auto;
        display:block;
        width: 120px;
    }
    .search, #current-location-button{
        margin:0 auto;
        width: 250px;
        display:block;
        margin-bottom: 40px;
        color:black;
        background-color:rgb(247, 173, 190) ;
        transition: 20ms ease-in-out;
        border-radius: 20px;
        border-color: black;
    }
    .temperature, .weather-icon{
        font-size: 40px;
      text-align:center;
      font-weight: 500;
    }
    .location, .humidity{
        font-size: 20px;
        text-align:center;
    }

    .search:hover{
        background:rgb(252, 2, 69);
    }
    .container{
display:block;
position:relative;
margin: 0 auto;
padding-bottom: 20px;
    }
   
    .wishes{
        text-align:center;
        font-size: 30px;
        font-family: 'Noto Sans TC', sans-serif;
        padding-top:40px;
    }
    .weather-forecast{
        margin-top:20px;
        text-align:center;
        color:#000;
    }
    .weather-forecast-date{
        font-size:16px;
        opacity:0.5;
    }
    .weather-forecast-temperatures-min{
        opacity:0.5;
    }
    .weather-forecast-temperatures{
        font-size:13px;
    }
</style>